.carte{
  margin: 10px;
  padding: 15px;
  border: 2px solid brown;
  border-radius: 10px;
  min-height: 200px;
  width: 150px;
  text-align: center;
  background-color: rgb(170, 108, 63);
  transition: 500ms;
  transform: rotateZ(180deg);
}

.carte:hover{
  transform: scale(105%);
  transition: 500ms;
}

.carte h3{
  color: rgb(22, 19, 19);
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  text-decoration: underline;
}

.carte p {
  color: rgb(66, 49, 49);
  font-size: 12px;
}

.compteur{
  text-align: center;
  margin: 10px;
  width: 200px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
}

.compteur button{
  background-color: chocolate;
  text-decoration: 0;
}

.compteur button:hover {
  cursor: pointer;
}